body {
  background-color: #0b0b0b;
  color: #FFD700;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

h1 {
  font-size: 2em;
  margin-top: 50px;
}

p {
  font-size: 1.2em;
  margin-top: 20px;
}

button {
  background-color: #00FF00;
  border: none;
  color: black;
  padding: 15px 30px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 30px;
}

button:hover {
  background-color: #00cc00;
}
